* {
    padding: 0;
    margin: 0;
}

body {
    width: 500px;
    padding: 20px;
    /* background-image: url('Images/background.jfif'); */
    background-color: #f2f2f2;
    /* Replace 'background.jpg' with the path to your background image */
    background-size: cover;
    background-image: url('Images/A-pleasant-weather.png');
    font-family: Arial, sans-serif;
}


.weather_report,
.pollution_level,
.saftey_measures {
    display: flex;
    justify-content: center;
    color: #333;
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 15px;
}

#error-message {
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
}

.our_extension{
    color: gold;
    text-align: center;
}

.label_1{
    color:aliceblue;
}

.input_1{
    color: blue;

}

#welcome_mess_1{
    color: white;
    
    padding-top: 30px;
    font-size: x-large;
    font: optional;
    font-weight:bold;
    text-align: center;
    font-style:center;
}

#welcome_mess_2{
    color:orange;
    /* padding-bottom: 30px; */
    font-size:x-large;
    padding: 10px 0;
    font-weight: bold; 

}

#quote{
    width: 300px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    color:brown;
    background-color: greenyellow;
    padding: 0 10px;
    text-align: center;
    border-radius: 18px;
}



.weather_btn{
    margin-top: 30px;
    margin-left: 160px;
    color: #ffffff;
}

.air_btn{
    margin-top: 10px;
    margin-left: 153px;
        color: #ffffff;
}

.weather_div,.air_div{
  
    width: auto;
        margin: auto;
        margin-top: 20px;
        font-size: large;
        font-weight: bold;
        color: brown;
        background-color: whitesmoke;
        padding: 0 10px;
        padding-left: 30px;
        border-radius: 18px;
}

.header{
    text-align: center;
}

.pollutant{
   width: 45px;
   color: blue;
   padding-left: 25px;
   text-align: center;
}

.concentration{
    width: 45px;
    color: darkgoldenrod;
    text-align: center;
}
.uv{
    padding-left: 135px;
}

.co {
    padding-left:125px;
}

.no2 {
    padding-left: 125px;
}

.o3 {
    padding-left: 125px;
}

.so2 {
    padding-left: 125px;
}

.pm25 {
    padding-left: 100px;
}

.pm10 {
    padding-left: 105px;
}



